<form [formGroup]="form">
    <div class="container">
      <div class="py-5">
        <h5>Horários de funcionamento</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <select class="form-control" formControlName="dia" (change)="onSubmit(($event))">
                  <option  [value]="dia.dia" *ngFor="let dia of daysWeek">{{dia.name}}</option>
              </select>
                <div class="input-group-append" id="button-addon4">
                  <button class="btn btn-rounded btn-success text-uppercase" (click)="onNew()">
                    <i class="fa fa-plus"></i>
                  </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>
                      Código
                    </th>
                    <th>
                      Dia da semana
                    </th>
                    <th>
                      Hora inicial
                    </th>
                    <th>
                      Hora final
                    </th>
                    <th>
                      Ativo
                    </th>
                    <th>
                      Ações
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let item of lst | slice: (page-1) * pageSize : page * pageSize'>
                    <td>{{ item.id }}</td>
                    <td>{{ getDayWeek(item) }}</td>
                    <td>{{ item.horaInicial }}</td>
                    <td>{{ item.horaFinal }}</td>
                    <td>{{ item.ativo ? 'Sim' : 'Não'}}</td>
                    <td>
                      <div class="d-flex actions">
                        <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Editar"
                          (click)="edit(item)">
                          <i class="fa fa-edit text-success"></i>
                        </a>
  
                        <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Excluir"
                          (click)="deleteById(modalDelete,item)">
                          <i class="fa fa-trash text-danger"></i>
                        </a>
                        <!-- <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Ativar"
                        (click)="onActive(item)">
                        <i class="fa fa-check text-primary"></i>
                      </a> -->
                      </div>
                    </td>
  
                  </tr>
                </tbody>
              </table>
  
              <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="lst.length"></ngb-pagination>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <ng-template #modalDelete>
    <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <h3 class="modal-title">Excluir</h3>
        <button type="button" class="close" (click)="closeDelete()">
          <i class="fa fa-times"></i>
        </button>
      </div>
  
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            Confirma a exclusão?
          </div>
        </div>
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-success text-uppercase" (click)="confirmDelete()">
          <i class="fa fa-check"></i> Confirmar
        </button>
  
        <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeDelete()">
          <i class="fa fa-times"></i> Cancelar
        </button>
      </div>
  
    </div>
  </ng-template>